<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>new department</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <h3>
            <a href="/user/update">
                <label th:text="${#authentication.getPrincipal().getUsername()}"></label>
            </a>
        </h3>
        <h4>
            <a href="/logout">Выйти</a>
        </h4>
    </div>

    <form th:action="@{/department/save}" method="post">
        <div th:if="${departmentForAdd.id != null}">
            <label>
                <input type="hidden" th:field="${departmentForAdd.id}"/>
            </label>
        </div>
        Название кафедры:
            <label>
                <input type="text" th:field="${departmentForAdd.name}" placeholder="Название кафедры" required minlength="2">
            </label>
            <label class="form-field-error" th:if="${#fields.hasErrors('departmentForAdd.name')}" th:errors="*{departmentForAdd.name}" ></label>
        <div th:if="${departmentForAdd.id != null}">
            <button type="submit" onclick="return confirm('Вы уверены?')">Изменить</button>
        </div>
        <div th:unless="${departmentForAdd.id != null}">
            <button type="submit">Добавить</button>
        </div>
    </form>
</body>
</html>